
/*.form {
  background-color: white;
  border: 1px solid #ccc;
  min-height: 12rem;
  padding: 2rem;
}*/

.full-width-content {
  margin-left: -2rem;
  margin-right: -2rem;
}

.content-no-top-padding {
  margin-top: -2rem;
}


.sub-header {
  composes: full-width-content;
  line-height: 1.2em;
  padding: 1em 0;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

.header {
  composes: sub-header content-no-top-padding;
  border-top: 0;
}
/*https://getbootstrap.com/examples/signin/*/
.body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.signin {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}